<section class="admin__dashboard flex-1 p-2">
  <h1 class="text-center">Dashboard</h1>

  <h4>List of Admins</h4>

  <ul>
    <% @admins.each do |admin| %>
      <li><%= admin.email %></li>
    <% end %>
  </ul>
</section>