<section class="admin__content pb-2">
  <div class="oder flex-col pb-2">
    <%= render 'show_header', order: @admin_order %>

    <div class="order__product--list__container p-2">
      <%= render 'order_product_list' %>
    </div>
  </div>
</section>
