<div class="flash" data-controller="flash">
  <% if notice %>
    <div class="flash__notice p-1 radius-lg flex gap-1 ai-center">
      <%= render "shared/icon", name: "check-circle" %> <p><%= notice %></p>
    </div>
  <% elsif alert %>
    <div class="flash__alert p-1 radius-lg flex gap-1 ai-center">
      <%= render "shared/icon", name: "x-circle" %> <p><%= alert %></p>
    </div>
  <% end %>
</div>