<footer class="p-1">
  <div class="container">
    <ul class="flex gap-2">
      <li class="home__footer--item flex-1">
        <h3 class="home__footer--item--title">About Ecom</h3>

        <p class="home__footer--item--description">
          Ecom is a platform that connects buyers and sellers from around the world. We offer a wide range of products at unbeatable prices. Our goal is to provide a seamless shopping experience for our customers. Shop with us today!
        </p>
      </li>

      <li class="home__footer--item flex-1">
        <h3 class="home__footer--item--title">Quick Links</h3>

        <ul class="home__footer--item--list">
          <li class="home__footer--item--list--item">
            <a href="/about" class="home__footer--item--list--item--link">About Us</a>
          </li>

          <li class="home__footer--item--list--item">
            <a href="/contact" class="home__footer--item--list--item--link">Contact Us</a>
          </li>

          <li class="home__footer--item--list--item">
            <a href="/faq" class="home__footer--item--list--item--link">FAQ</a>
          </li>

          <li class="home__footer--item--list--item">
            <a href="/terms" class="home__footer--item--list--item--link">Terms of Service</a>
          </li>

          <li class="home__footer--item--list--item">
            <a href="/privacy" class="home__footer--item--list--item--link">Privacy Policy</a>
          </li>
        </ul>
      </li>

      <li class="home__footer--item flex-1">
        <h3 class="home__footer--item--title">Contact Us</h3>

        <ul class="home__footer--item--list">
          <li class="home__footer--item--list--item">
            <p class="">123 Ecom Way<br>
              Ecom City, EC 12345</p>
          </li>

          <li class="home__footer--item--list--item">
            <p class="">Phone: (123) 456-7890</p>
          </li>

          <li class="home__footer--item--list--item">
            <p class="">Email: support@ecom.com </p>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</footer>