<nav>
  <div class="container px-1 py-2 flex ai-center jc-between">
    <a><strong>Ecom</strong></a>

    <ul class="flex gap-2">
      <li><a href="/">Home</a></li>
      <li><a href="/Categories">Categories</a></li>
      <li><a href="/deals">Deals</a></li>
      <li><a href="/whats-new">What's New</a></li>
      <li><a href="/delivery">Delivery</a></li>
    </ul>

    <ul class="flex gap-2 ai-center">
      <li class="flex ai-center gap-1">
        <input type="search" placeholder="Search" class="search" />
        <%= render "shared/icon", name: "search" %>
      </li>
      <li><a href="/login">Login</a></li>
      <li><a href="/wishlist"><%= render "shared/icon", name: "heart" %></a></li>
      <li><a href="/cart"><%= render "shared/icon", name: "cart" %></a></li>
      <li><a href="/user"><%= render "shared/icon", name: "user" %></a></li>
    </ul>
  </div>
</nav>