<div class="modal flex-inline jc-end ai-start" data-controller="options-modal">
  <button class="modal__button" data-action="click->options-modal#toggle">
    <%= render 'shared/icon', name: "ellipsis" %>
  </button>

  <div class="modal__content hidden" data-options-modal-target="popup">
    <%= yield %>
  </div>
</div>