<tfoot class="table__footer">
  <tr>
    <td colspan="<%= col_span %>">
      <% if row_count > 9 %>
        <div class="table__footer--container flex ai-center jc-between px-2 py-3">
          <button class="table__footer--prev table__footer--nav__button flex ai-center gap-1 radius-lg py-1 pr-2">
            <%= render 'shared/icon', name: "chevron-left" %>
            Prev
          </button>

          <ul class="table__footer--pages flex">
            <li class="table__footer--page">
              <button class="table__footer--page__button px-1 radius-lg">1</button>
            </li>

            <li class="table__footer--page">
              <button class="table__footer--page__button px-1 radius-lg">2</button>
            </li>

            <li class="table__footer--page">
              <button class="table__footer--page__button px-1 radius-lg">3</button>
            </li>
          </ul>

          <button class="table__footer--next table__footer--nav__button flex ai-center gap-1 radius-lg py-1 pl-2">
            Next
            <%= render 'shared/icon', name: "chevron-right" %>
          </button>
        </div>
      <% end %>
    </td>
  </tr>
</tfoot>