<% content_for :title, "Edit stock" %>

<%= render "admin/form_header", page: "stocks" %>

<div class="form__container flex flex-col jc-center p-2">
  <h2 class="form__title">Edit Stock<span>.</span></h2>

  <%= render "form", admin_stock: @admin_stock %>
</div>
