<% content_for :title, "Editing category" %>

<%= render "admin/categories/header" %>

<div class="form__container">
  <%= render "form", admin_category: @admin_category %>

  <%= link_to "Show this category", admin_category_path(@admin_category) %>
</div>
