<% content_for :title, "Edit category" %>

<%= render "admin/form_header", page: "Categories" %>

<div class="form__container flex flex-col jc-center pd-2">
  <h2 class="form__title">Edit Category<span>.</span></h2>

  <%= render "form", admin_category: @admin_category %>
</div>
