<% content_for :title, "Edit Product" %>

<%= render "admin/form_header", page: "Products" %>

<div class="form__container flex flex-col jc-center p-2">
  <h2 class="form__title">Edit Product</h2>

  <%= render "form", admin_product: @admin_product %>
</div>
