<p style="color: green"><%= notice %></p>

<% content_for :title, "Products" %>

<section class="admin__content flex flex-col pb-2">
  <%= render 'admin/page_header', path: new_admin_product_path, title: "+ Add New Product" %>

  <% headers = [:image, :name, :description, :price, :actions] %>
  <% actions = [
    { path: ->(product) { edit_admin_product_path(product) }, name: "Edit Product" },
    { path: ->(product) { admin_product_path(product) }, name: "View Product" },
    { path: ->(product) { admin_product_stocks_path(product) }, name: "View Stock" },
    { path: ->(product) { admin_product_path(product) }, name: "Delete Product", method: :delete }
  ] %>

  <%= render partial: 'shared/table', locals: { headers: headers, list: @admin_products, actions: actions } %>
</section>
