.admin {
  height: 100vh;
}

.admin__container {
  height: 100%;
  border-radius: 1rem;
  border: 2px solid var(--light-3);
  overflow: hidden;
}

.admin__nav {
  --icon-dimension: 2.5rem;
  
  background-color: var(--white);
  height: 100%;
}

.admin__nav--logo img {
  width: var(--icon-dimension);
  height: var(--icon-dimension);
  object-fit: cover
}

.admin__nav--logo h1 {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}

.admin__nav--link:hover {
  background-color: var(--light-2);
  color: var(--dark-3);
}

.admin__nav--link span:first-child {
  width: var(--icon-dimension);
  padding: .5rem;
}

.admin__nav--link__text {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}
