.admin {
  height: 100vh;
}

.admin__nav h1,
.admin__nav h2,
.admin__nav h3 {
  color: var(--light-3);
}

.admin__nav {
  --icon-dimension: 2rem;

  background-color: var(--dark-1);
  height: 100%;
  border-radius: 1rem 0 0 1rem;
  border-top: 1px solid var(--dark-2);
  border-left: 1px solid var(--dark-2);
  border-bottom: 1px solid var(--dark-2);
}

.admin__nav--logo img {
  width: var(--icon-dimension);
  height: var(--icon-dimension);
  object-fit: cover
}

.admin__nav--logo h1 {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}

.admin__nav--link:hover {
  background-color: var(--dark-2);
  color: var(--grey-3);
}

.admin__nav--link span:first-child {
  width: var(--icon-dimension);
  padding: .25rem;
}

.admin__nav--link__text {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}

.admin__dashboard {
  background-color: var(--white);
  border-radius: 0 1rem 1rem 0;
  border-top: 1px solid var(--light-2);
  border-right: 1px solid var(--light-2);
  border-bottom: 1px solid var(--light-2);
}