.admin {
  height: 100vh;

  @media (min-width: 48em) {
    padding: var(--p-2);
  }
}

.admin__container {
  padding-bottom: 4rem;
  height: 100%;
  overflow: hidden;

  @media (min-width: 48em) {
    padding: 0;
  }
}

.admin__nav {
  --icon-dimension: 2rem;
  
  position: fixed;
  inset: auto 0 0 0;
  z-index: 1000;
  justify-content: center;
  background-color: var(--bg-clr-1);
  border: 2px solid var(--bg-clr-4);
  
  @media (min-width: 48em) {
    --icon-dimension: 2.5rem;
  
    flex-direction: column;
    position: static;
    inset: auto;
    height: 100%;
    border-radius: 1rem;
    background-color: var(--bg-clr-2);
  }
}

.admin__nav--title {
  display: none;
  font-size: 0.75rem;
  font-weight: 600;
  color: inherit;
  text-align: center;

  @media (min-width: 48em) {
    display: block;
  }
}

.admin__nav.expanded .admin__nav--title {
  @media (min-width: 48em) {
    padding-left: var(--p-2);
    text-align: left;
  }
}

.admin__nav--top {
  display: none;
  background-color: var(--bg-clr-1);
  border-radius: 1rem 1rem 0 0;

  @media (min-width: 48em) {
    display: flex;
  }
}

.admin__nav--logo {
  display: none;
}

.admin__nav.expanded .admin__nav--logo {
  @media (min-width: 48em) {
    display: flex;
  }
}

.admin__nav--logo__image {
  width: var(--icon-dimension);
  height: var(--icon-dimension);
  object-fit: cover
}

.admin__nav--toggle {
  padding: 0;
  border: 0;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: transparent;
  border: 2px solid transparent;
  cursor: pointer;
  transition: color 100ms ease-in-out, border-color 100ms ease-in-out, background-color 100ms ease-in-out;
}

.admin__nav--toggle:hover,
.admin__nav--toggle:focus-visible {
  color: var(--primary);
  border-color: var(--bg-clr-4);
  background-color: var(--bg-clr-4);
}

.admin__nav--toggle.hidden {
  display: none;
}

.admin__nav--toggle i {
  width: var(--icon-dimension);
  padding: .75rem;
}

.admin__nav--logo__title span:last-child {
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--color-text);
  line-height: 1;
  letter-spacing: 0.45rem;
}

.admin__nav--list {
  gap: var(--p-2);
  padding: var(--p-1) var(--p-1) var(--p-2);

  @media (min-width: 48em) {
    flex-direction: column;
    gap: var(--p-1);
    padding: var(--p-2);
  }
}

.admin__nav--item {
  position: relative;
}

.admin__nav--link {
  padding: 0;
  border: 0;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: transparent;
  border: 2px solid transparent;
  cursor: pointer;
  transition: color 100ms ease-in-out, border-color 100ms ease-in-out, background-color 100ms ease-in-out;
}

.admin__nav--list .active a {
  padding-right: 0.5rem;
  color: var(--primary);
  background-color: var(--bg-clr-4);

  @media (min-width: 48em) {
    padding-right: 0;
  }
}

.admin__nav--link:hover,
.admin__nav--link:focus-visible {
  color: var(--dark-3);
  border-color: var(--bg-clr-4);
}

.admin__nav--link i {
  width: var(--icon-dimension);
  padding: .5rem;
}

.admin__nav--link__text {
  width: 0;
  font-size: 0.95rem;
  overflow: hidden;

  @media (min-width: 48em) {
    display: none;
    width: auto;
  }
}

.admin__nav.expanded .admin__nav--link__text {
  @media (min-width: 48em) {
    display: block;
  }
}

.admin__nav--list .active .admin__nav--link__text {  
  @media (max-width: 48em) {
    animation: grow-width 0.5s forwards;
  }
}

@keyframes grow-width {
  0% {
    width: 0;
  }
  100% {
    width: var(--text-width);
  }
  
}

.admin__nav.expanded .admin__nav--item .admin__nav--tooltip {
 display: none;
}

.admin__nav--item .admin__nav--tooltip {
  display: none;
 
   @media (min-width: 48em) {
     display: block;
   }
 }

.admin__nav--separator {
  display: block;
  height: 2px;
  background-color: var(--bg-clr-4);
}

.admin__nav--other__container {
  display: none;
  background-color: var(--bg-clr-1);
  border-radius: 0 0 1rem 1rem;

  @media (min-width: 48em) {
    display: flex;
  }
}

.admin__nav--other .admin__nav--link {
  width: 100%;
}

.admin__content--container {
  container-type: inline-size;
  position: relative;
  background-color: var(--bg-clr-3);
  height: 100%;
  border: 2px solid var(--bg-clr-4);
  overflow: hidden;
}

.admin__content {
  height: 100%;
  overflow-y: auto;
}

.admin__content--header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.admin__content--header .btn {
  gap: 0.5rem;
}

@media (max-width: 34em) {
.admin__content--header .btn span {
    display: none;
  }
}

.admin__content--header .btn i {
  width: 1.125rem;
}

.admin__content--header .btn i svg {
  stroke-width: 2;
}

.admin__content--card__container {
  height: 100%;
  overflow-y: auto;
}

.admin__content--card {
  background-color: var(--bg-clr-3);
}

.admin__content--card__image {
  width: 250px;
  height: 200px;
  object-fit: cover;
}
