html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --red: rgb(194, 31, 31);
  --light-red: rgba(197, 43, 43, 0.526);
  --green: rgb(15, 176, 50);
  --light-green: rgba(39, 211, 76, 0.567);

  --black: rgb(0, 0, 0);
  --dark-1: rgb(10, 10, 10);
  --dark-2: rgb(30, 30, 30);
  --dark-3: rgb(50, 50, 50);

  --grey-1: rgb(100, 100, 100);
  --grey-2: rgb(150, 150, 150);
  --grey-3: rgb(200, 200, 200);

  --white: rgb(255, 255, 255);
  --light-1: rgb(250, 250, 250);
  --light-2: rgb(245, 245, 245);
  --light-3: rgb(240, 240, 240);

  --primary: var(--dark-1);
  --primary-light: var(--grey-3);
}

body {
  --color-text: var(--grey-1);
  --color-heading: var(--dark-3);
  --color-bg: var(--light-1);

  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
}