@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

html {
  --fz-sm: 13px;
  --fz-md: 14px;
  --fz-lg: 15px;

  box-sizing: border-box;
  font-size: var(--fz-sm);

  @media (min-width: 48em) {
    font-size: var(--fz-md);
  }

  @media (min-width: 64em) {
    font-size: var(--fz-lg);
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  --text-clr-1: var(--grey-1);
  --text-clr-2: var(--grey-2);
  --text-clr-3: var(--grey-3);

  --heading-clr-1: var(--black);
  --heading-clr-2: var(--dark-1);
  --heading-clr-3: var(--dark-2);
  --heading-clr-4: var(--dark-3);

  --bg-clr-1: var(--white);
  --bg-clr-2: var(--light-1);
  --bg-clr-3: var(--light-2);
  --bg-clr-4: var(--light-3);

  margin: 0;
  padding: 0;
  font-family: var(--font-text);
  font-weight: 500;
  background-color: var(--bg-clr-2);
  color: var(--text-clr-1);
  min-width: 23rem;
}