html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --red: rgb(194, 31, 31);
  --light-red: rgb(246, 217, 217);
  --orange: rgb(255, 165, 0);
  --light-orange: rgb(255, 243, 224);
  --green: rgb(15, 176, 50);
  --light-green: rgb(217, 246, 217);

  --black: rgb(0, 0, 0);
  --dark-1: rgb(10, 10, 10);
  --dark-2: rgb(30, 30, 30);
  --dark-3: rgb(50, 50, 50);

  --grey-1: rgb(100, 100, 100);
  --grey-2: rgb(150, 150, 150);
  --grey-3: rgb(200, 200, 200);

  --white: rgb(255, 255, 255);
  --light-1: rgb(250, 250, 250);
  --light-2: rgb(245, 245, 245);
  --light-3: rgb(240, 240, 240);

  --primary: var(--dark-1);
  --primary-light: var(--grey-3);

  /* PADDING */
  --p-1: 0.5rem;
  --p-2: 1.15rem;
  --p-3: 1.75rem;
}

body {
  --text-clr-1: var(--grey-1);
  --text-clr-2: var(--grey-2);
  --text-clr-3: var(--grey-3);

  --heading-clr-1: var(--black);
  --heading-clr-2: var(--dark-1);
  --heading-clr-3: var(--dark-2);
  --heading-clr-4: var(--dark-3);

  --bg-clr-1: var(--white);
  --bg-clr-2: var(--light-1);
  --bg-clr-3: var(--light-2);
  --bg-clr-4: var(--light-3);

  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-clr-2);
  color: var(--text-clr-1);
  min-width: 23rem;
}