.btn {
  border: none;
  border-radius: 0.25rem;
  font-family: inherit;
  font-size: 0.85rem;
  font-weight: 600;
  padding: 0.65rem 0.75rem;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  transition: background-color 150ms ease-in-out, color 150ms ease-in-out;
}

.btn__primary {
  background-color: var(--primary);
  color: var(--light-3);
}
.btn__primary:hover,
.btn__primary:focus {
  background-color: var(--grey-1);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}

.btn__secondary {
  padding: calc(0.65rem - 2px) calc(0.75rem - 2px);
  background-color: transparent;
  color: var(--dark-3);
  border: 2px solid var(--dark-3);
}
.btn__secondary:hover,
.btn__secondary:focus {
  background-color: var(--dark-3);
  color: var(--light-3);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}

.btn__tertiary {
  background-color: var(--light-3);
  color: var(--grey-1);
}
.btn__tertiary:hover,
.btn__tertiary:focus {
  background-color: var(--grey-3);
  color: var(--dark-3);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}