.carousel {
  position: relative;
  display: inline-block;
}

.carousel__track--container {
  position: relative;
  width: var(--width);
  aspect-ratio: var(--aspect-ratio);
}

.carousel__slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.carousel__slide.active {
  z-index: 1;
}

.carousel__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel__button {
  --button-color: var(--opaque-5);
  --button-hover: var(--heading-clr-3);

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: var(--button-color);
  border: 0;
  padding: 0;
  cursor: pointer;
  transition: color 100ms ease-in-out;
}

.carousel__button:hover,
.carousel__button:focus-visible {
  color: var(--button-hover);
}

.carousel__button--next {
  right: 0;
}

.carousel__button--prev {
  left: 0;
}

.carousel__nav {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.carousel__indicator {
  --dimension: 2.5em;

  width: var(--dimension);
  height: var(--dimension);
  cursor: pointer;
}

.carousel__indicator--image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid var(--opaque-1);
}

.carousel__indicator.active .carousel__indicator--image {
  border: 2px solid var(--primary);
}