.category {
  --bg-color: var(--white);

  height: 100%;
  overflow-y: auto;
}

.category__header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.category__show {
  height: 100%;
  overflow-y: auto;
}

.category__show--card {
  background-color: var(--light-2);
}

.category__show--card img {
  width: 250px;
  height: 200px;
  object-fit: cover;
}