.dashboard__quick-stat--container {
  container-type: inline-size;
}

.dashboard__subsection-container {
  background-color: var(--bg-clr-1);
}

.dashboard__subtitle {
  font-size: 0.75rem;
  color: var(--text-clr-1);
}
@media (width > 30em) {
  .dashboard__subtitle {
    font-size: 0.875rem;
  }
}

.dashboard__quick-stat--list {
  grid-template-columns: repeat(2, 1fr);
}

@container (width > 50em) {
  .dashboard__quick-stat--list {
    grid-template-columns: repeat(4, 1fr);
  }
}

.dashboard__quick-stat--item {
  background-color: var(--bg-clr-1);
}

.dashboard__quick-stat--item__header i {
  padding: 0.25rem;
  width: 1.75rem;
  background-color: var(--bg-clr-3);
  border-radius: var(--radius-lg);
}

.dashboard__quick-stat--item__value {
  margin: 1rem 0 0;
  font-size: 1rem;
  color: var(--heading-clr-1);
}

@media (width > 30em) {
  .dashboard__quick-stat--item__value {
    font-size: 1.5rem;
  }
}