.filter__form {
  position: relative;
}

.filter__form--button {
  font-family: inherit;
  color: inherit;
  background-color: var(--bg-clr-1);
}

.filter__form--button:hover {
  color: var(--heading-clr-4);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}

.filter__form--button i {
  width: 1.25rem;
}

.filter__form--button.highlight i {
  color: var(--primary);
}

.filter__form--group {
  position: absolute;
  top: calc(100% + 0.5rem);
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  background-color: var(--bg-clr-1);
  z-index: 5;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}

.filter__form--group.hidden {
  display: none;
}

.filter__form--checkbox:hover {
  color: var(--heading-clr-4);
}

.filter__form--checkbox__input,
.filter__form--checkbox__label {
  cursor: pointer;
}

.filter__form--checkbox__input {
  --dimension: 1.25rem;

  appearance: none;
  margin: 0;
  position: relative;
  width: var(--dimension);
  height: var(--dimension);
  border-radius: 50%;
  border: 2px solid var(--text-clr-1);
}
.filter__form--checkbox__input:checked {
  border-color: var(--primary);
}
.filter__form--checkbox__input:checked::before {
  content: "";
  position: absolute;
  inset: calc(var(--dimension) / 6);
  border-radius: inherit;
  background-color: var(--primary);
}

/* RANSACK */
@media (max-width: 34em) {
.search__form {
    display: none;
  }
}

.ransack__form--open {
  display: block;
}

.search__form--icon {
  display: none;
  padding: 0.25rem;
  border: 1px solid var(--bg-clr-4);
  color: var(--text-clr-1);
  background-color: var(--bg-clr-1);
}

@media (max-width: 34em) {
.search__form--icon {
    display: grid;
  }
}.ransack__form--icon__hide {
  display: none;
}

.ransack__form--open .search__form--icon {
  display: none;
}

.search__form--icon:hover {
  color: var(--heading-clr-4);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}

.search__form--input {
  width: 2.57rem;
  padding: 0.5rem;
  border: 1px solid var(--bg-clr-4);
  background-color: var(--bg-clr-1);
  font-family: inherit;
  animation: grow-width 0.25s ease forwards;
}

@keyframes grow-width {
  from {
    width: 2.57rem;
  }
  to {
    width: 12rem;
  }
}