.filter__form {
  position: relative;
}

.filter__form--button {
  font-family: inherit;
  color: inherit;
  background-color: var(--bg-clr-1);
}

.filter__form--button:hover {
  color: var(--heading-clr-2);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}

.filter__form--button i {
  width: 1.25rem;
}

.filter__form--button.highlight i {
  color: var(--primary);
}

.filter__form--group {
  position: absolute;
  top: calc(100% + 0.5rem);
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  background-color: var(--bg-clr-1);
  z-index: 5;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}

.filter__form--group.hidden {
  display: none;
}

.filter__form--checkbox:hover {
  color: var(--heading-clr-2);
}

.filter__form--checkbox__input,
.filter__form--checkbox__label {
  cursor: pointer;
}

.filter__form--checkbox__input {
  --dimension: 1.25rem;

  appearance: none;
  margin: 0;
  position: relative;
  width: var(--dimension);
  height: var(--dimension);
  border-radius: 50%;
  border: 2px solid var(--text-clr-1);
}
.filter__form--checkbox__input:checked {
  border-color: var(--primary);
}
.filter__form--checkbox__input:checked::before {
  content: "";
  position: absolute;
  inset: calc(var(--dimension) / 6);
  border-radius: inherit;
  background-color: var(--primary);
}