.form__container {
  min-height: calc(100vh - 7.25rem);
}

.form__header a {
  transition: background-color 100ms ease-in-out, color 100ms ease-in-out;
}

.form__header a:hover {
  color: var(--color-heading);
  background-color: var(--light-2);
}

.form {
  max-width: 30em;
}

.form__title {
  margin-bottom: 1rem;
}

.form__title span {
  color: var(--primary);
}

@media (max-width: 40em) {
.form__flex {
    flex-direction: column;
  }
}

.form__field {
  background-color: var(--light-1);
  border: 2px solid var(--light-2);
  transition: border-color 100ms ease-in-out;
}

.form__field:focus-within {
  border: 2px solid var(--primary);
}

.form__field:focus-within label {
  color: var(--color-heading);
}

.form__field .file__container label {
  min-width: 19ch;
  color: var(--color-heading);
}

.form__field .file__container .btn {
  outline: 0;
}

.form__field .file__container .btn:hover,
.form__field .file__container .btn:focus {
  color: var(--light-3);
}

.form__field .file__container input[type="file"] {
  display: none;
}

.form__field .file__container .image__list {
  margin: 0;
  padding: 0;
  color: var(--grey-3);
  background-color: transparent;
}

.form__field .file__container img {
  width: 2.25rem;
  height: 2.25rem;
  object-fit: cover;
  border: 2px solid var(--light-2);
}

.form__field label,
.form__field em {
  font-size: 0.75rem;
  font-weight: bold;
  /* color: var(--primary); */
}

.form__field input,
.form__field textarea,
.form__field select {
  padding: 0.25rem  0.25rem 0;
  border: none;
  outline: 0;
  font-family: inherit;
  font-size: inherit;
  border-radius: 0.25rem;
  background-color: transparent;
  width: 100%;
}

.form__field input:-webkit-autofill,
.form__field textarea:-webkit-autofill,
.form__field select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px var(--light-3) inset;
  box-shadow: 0 0 0 1000px var(--light-3) inset;
  transition: background-color 5000s ease-in-out 0s;

}

.form__field input::placeholder,
.form__field textarea::placeholder {
  color:var(--grey-3);
}

.form__field textarea {
  resize: none;
  height: 4em;
}

.form__field select:invalid {
  color: var(--grey-3);
}

.form__field select option {
  color: initial;
}

.form__checkbox input,
.form__checkbox label {
  cursor: pointer;
}

.form__checkbox input {
  appearance: none;
  width: 1.25rem;
  height: 1.25rem;
  border: 2px solid var(--grey-3);
  border-radius: 50%;
  rotate: 45deg;
}

.form__checkbox input:checked {
  position: relative;
  background-color: var(--primary);
  border-color: var(--primary-light);
}

.form__checkbox input::before,
.form__checkbox input::after {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--white);
}

.form__checkbox input::before {
  top: 61%;
  left: 31%;
  width: 0.35rem;
  height: 0.15rem;
  border-radius: 1rem;
}

.form__checkbox input::after {
  top: 23%;
  right: 35%;
  width: 0.15rem;
  height: 0.5rem;
  border-radius: 1rem;
}

.form__checkbox:focus-within input {
  outline: 0;
  border-color: var(--primary-light);
}
.form__checkbox:focus-within label {
  color: var(--primary);
}

.form__field .image__list {
  margin-top: 0.5rem;
  padding: 0.25rem;
  gap: 0.25rem;
  background-color: var(--light-2);
}

.form__field .image__container label {
  position: relative;
  display: grid;
  cursor: pointer;
  border-radius: .25rem;
  border: 2px solid transparent;
  transition: border-color 100ms ease-in-out;
}

.form__field .image__container label:focus-visible {
  opacity: 1;
  outline: 0;
  border-color: var(--color-heading);
}

.form__field .image__container label::before {
  content: "Delete";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background-color: rgba(232, 23, 23, 0.25);
  color: var(--light-3);
  text-shadow: 0 0 0.25rem var(--dark-3);
  font-size: 0.75rem;
  display: grid;
  place-content: center;
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}

.form__field .image__container label:hover::before,
.form__field .image__container label:focus-visible::before {
  opacity: 1;
}

.form__field .image__container img {
  border: 2px solid var(--light-3);
}

.form__field .image__container input[type="checkbox"] {
  display: none;
}

.form__field .image__container input[type="checkbox"]:checked,
.form__field .image__container input[type="checkbox"]:checked + img {
  display: none;
}

.form__link:hover,
.form__link:focus {
  outline: 0;
  color: var(--primary);
  text-decoration: underline;
}

.form__link--primary {
  padding: 0;
  border: 0;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 400;
  color: var(--primary);
  cursor: pointer;
}
.form__link--primary:hover,
.form__link--primary:focus {
  outline: 0;
  color: var(--primary-light), red;
  text-decoration: underline;
}

.form__cancel-account {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

.form__errors {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 2px solid var(--red);
  color: var(--red);
}

.form__errors h2 {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.form__errors ul {
  padding: 0 1.25rem;
  list-style: disc;
}

.form__errors li {
  font-size: 0.75rem;
  font-weight: bold;
}