.modal {
  position: relative;
}

.modal__button {
  color: inherit;
  background-color: transparent;
  border: 0;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  font-size: 0.85rem;
  cursor: pointer;
  transition: background-color 100ms ease-in-out, color 100ms ease-in-out;
}

.modal__button:hover {
  color: var(--color-heading);
  background-color: var(--light-3);
}

.modal[data-modal-type="options"] .modal__content,
.modal[data-modal-type="tooltip"] .modal__content {
  position: absolute;
  text-align: left;
  border-radius: 0.25rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.modal[data-modal-type="options"] .modal__content {
  inset: calc(100% + 0.5rem) 0 auto auto;
}

.modal__content.hidden {
  display: none;
}

.modal__list {
  background-color: var(--white);
  border-radius: inherit;
}

.modal__list--link {
  display: block;
  border: 0;
  color: inherit;
  background-color: transparent;
  padding: 0.5rem 1rem;
  font-family: inherit;
  text-align: left;
  font-size: 0.85rem;
  font-weight: 600;
  min-width: max-content;
  width: 100%;
  cursor: pointer;
  transition: background-color 100ms ease-in-out, color 100ms ease-in-out;
}

.modal__list--link:hover {
  color: var(--color-heading);
  background-color: var(--light-2);
}

/* FLASH MESSAGES */

.flash {
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50%;
  color: var(--light-3);
  transition: opacity 1000ms ease-in-out;
}

.flash.fade-out {
  opacity: 0;
}

.flash__notice {
  background-color: var(--light-green);
}

.flash__alert {
  background-color: var(--light-red);
}