.order__header {
  grid-template-areas: 
    "titles"
    "customer"
    "dates"
  ;
  
  @media (min-width: 30em) {
    grid-template-areas: 
      "titles customer"
      "dates dates"
    ;
  }

  @media (min-width: 64em) {
    grid-template-areas: "titles dates customer";
  }
}

.order__header p {
  margin: 0;
}

.order__title {
  font-size: 2.15rem;
  font-weight: 700;
  margin: 0;
}

.order__subtitle {
  margin: 0;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  color: inherit;
}

.order__titles {
  grid-area: titles;
}

.order__status {
  color: var(--bg-clr-1);
  width: min-content;
}

.order__status--fulfilled {
  background-color: var(--green);
}

.order__status--pending {
  background-color: var(--orange);
}

.order__dates {
  grid-area: dates;

  @media (min-width: 48em) {
    display: flex;
  }
  
  @media (min-width: 64em) {
    padding: var(--p-2);
    justify-content: center;
  }
}

.order__dates--content {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media (min-width: 30em) {
    flex-direction: row;
    gap: 2rem;
  }

  @media (min-width: 64em) {
    flex-direction: column;
    gap: 1rem;
  }
}

.order__date i {
  padding: 0.5rem;
  width: 2rem; /* 2.75rem */
  border-radius: 0.5rem;
  background-color: var(--bg-clr-4);

  @media (min-width: 48em) {
    width: 2.75rem;
  }
}

.order__date--value__text {
  font-size: 1rem; /* 1.25rem */
  font-weight: 700;
  color: var(--heading-clr-2);

  @media (min-width: 48em) {
    font-size: 1.25rem;
  }
}

.order__customer { 
  grid-area: customer;
  
  @media (min-width: 48em) {
    display: flex;
    justify-content: end;
  }
}

.order__customer--content {
  background-color: var(--bg-clr-2);
  
  @media (min-width: 48em) {
    width: max-content;
  }
}

.order__product--list {
  background-color: var(--bg-clr-1);
}

.order__product--list--header {
  grid-template-columns: minmax(12rem, 4fr) 1.5fr 1.5fr 2fr 1.5fr 2fr;
}

.order__product--header {
  /* border: 1px solid var(--green); */
}

.order__product--header__name {
  margin: 0;
  font-weight: 700;
}

.order__product {
  grid-template-columns: minmax(12rem, 4fr) 1.5fr 1.5fr 2fr 1.5fr 2fr;
  background-color: var(--bg-clr-2);
}

.order__product img {
  border: 2px solid var(--bg-clr-3);
}

.order__product--name {
  font-size: 1.15rem;
  font-weight: 500;
  color: var(--heading-clr-2);
}

.order__product--sku {
  font-size: 0.75rem;
  font-weight: 600;
}

.order__product i {
  padding: 0.25rem;
  width: 1.75rem;
  color: var(--orange);
  background-color: var(--light-orange);
  border-radius: 50%;
}

.order__product div[data-status=true] i {
  color: var(--green);
  background-color: var(--light-green);
}

.order__product--quantity span {
  background-color: var(--bg-clr-1);
  box-shadow: 0 0 0 2px var(--bg-clr-3);
}

.order__product--quantity span::before {
  content: "x";
}

.order__product--total {
  color: var(--heading-clr-2);
}