.table {
  position: relative;
  width: 100%;
  border-collapse: collapse;
}

.table thead {
  position: sticky;
  top: 0;
  z-index: 1;
}

@media (max-width: 48em) { 
  .table thead {
    display: none;
  }
}

.table th {
  padding: 1rem;
  background-color: var(--white);
  text-align: left;
}

.table th:first-child {
  border-radius: 1rem 0 0 0;
}

.table th:last-child {
  border-radius: 0 1rem 0 0;
  text-align: right;
}

.table__row {
  border-top: 2px solid var(--light-3);
  vertical-align: top;
}

@media (max-width: 48em) { 
  .table__row:first-child {
    border-top: 0;
  }
}

.table__row td {
  position: relative;
  padding: 0.5rem 1rem;
  text-align: left;
  background-color: var(--white);
}
.table__row td:first-child {
  padding: 0.5rem 0 0.5rem 1rem;
}
.table__row td:last-child {
  text-align: right;
  max-width: max-content;
}
.table__actions--button {
  position: relative;
  display: inline-block;
}
@media (max-width: 48em) { 
  .table__row {
    display: grid;
    grid-template-columns: calc(50px + 1rem) auto auto auto auto;
  }
  .table__row td:last-child {
    max-width: none;
  }
  .table__row--stock {
    grid-template-areas: 
      "sku sku sku sku actions"
      "size size size size actions"
      "quantity quantity quantity quantity actions"
      "product_name product_name product_name product_name product_name";
  }

  .table__row--product {
    grid-template-areas: 
      "image name name name actions"
      "image price price price actions"
      "description description description description description";
  }
  .table__row--category {
    grid-template-areas: 
      "image name name actions actions"
      "image name name actions actions"
      "description description description description description";
  }
  .table__row--order {
    grid-template-areas: 
      "sku sku sku fulfilled actions"
      "total total total total actions"
      "customer-email customer-email customer-email customer-email customer-email"
      "address address address address address";
  }
  .table__row td {
    display: block;
  }
  .table__image--container {
    grid-area: image;
    padding: 1rem 0 0 1rem;
  }
  .table__name {
    grid-area: name;
    padding-top: 1rem;
    padding-bottom: 0;
  }
  .table__description {
    grid-area: description;
    padding-bottom: 1rem;
  }
  .table__price {
    grid-area: price;
    padding-bottom: 0;
  }
  .table__actions {
    grid-area: actions;
    padding-top: 1rem;
    padding-bottom: 0;
    padding-left: 0;
  }
}

/* Stock */
@media (max-width: 48em) {
  .table__id::before,
  .table__size::before,
  .table__quantity::before,
  .table__product_name::before {
    font-weight: 600;
  }

  .table__id {
    grid-area: sku;
  }
  .table__id::before {
    content: "SKU: ";
  }

  .table__size {
    grid-area: size;
  }
  .table__size::before {
    content: "Size: ";
  }

  .table__quantity {
    grid-area: quantity;
  }
  .table__quantity::before {
    content: "Quantity: ";
  }

  .table__product_name {
    grid-area: product_name;
  }
  .table__product_name::before {
    content: "Product Name: ";
  }
}

/* Order */
@media (max-width: 48em) {
  .table__customer_email::before,
  .table__total::before,
  .table__address::before,
  .table__fulfilled::before {
    font-weight: 600;
  }

  .table__customer_email {
    grid-area: customer-email;
  }
  .table__customer_email::before {
    content: "Customer Email: ";
  }

  .table__total {
    grid-area: total;
  }
  .table__total::before {
    content: "Total: ";
  }

  .table__address {
    grid-area: address;
  }
  .table__address::before {
    content: "Address: ";
  }

  .table__fulfilled {
    grid-area: fulfilled;
  }
}

.table tbody tr:nth-of-type(odd) td {
  background-color: var(--light-1);
}

.table__description {
  width: 20rem;
}
@media (min-width: 64em) {
  .table__description {
    width: auto;
    max-width: 30rem;
  }
}
@media (max-width: 48em) { 
  .table__description {
    width: 100%;
  }
}

.table__image--container {
  width: calc(50px + 1rem);
}

.table__image--container a {
  position: relative;
  display: inline-flex;
}
.table__image--container a::before {
  content: "View item";
  position: absolute;
  inset: 0;
  text-align: center;
  display: grid;
  place-items: center;
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--light-3);
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(0.15rem);
  padding: 0.15rem;
  border-radius: 0.25rem;
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}
.table__image--container a:hover::before {
  opacity: 1;
}

.table__image {
  border: 2px solid var(--light-3);
}

.table__footer--container {
  background-color: var(--white);
  border-radius: 0 0 1rem 1rem;
}

.table__footer--nav__button,
.table__footer--page__button {
  color: inherit;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: background-color 100ms ease-in-out, color 100ms ease-in-out;
}

.table__footer--nav__button:hover {
  color: var(--color-heading);
  background-color: var(--light-3);
}

.table__footer--nav__button svg {
  width: 1.25rem;
  stroke-width: 2;
}

.table__footer--page__button {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.table__footer--page__button:hover {
  color: var(--color-heading);
  background-color: var(--light-3);
}

.table .fulfilled,
.table .unfulfilled {
  font-size: 0.85rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
}

.table .fulfilled {
  background-color: var(--light-green);
  color: var(--green);
}

.table .unfulfilled {
  background-color: var(--light-orange);
  color: var(--orange);
}
