.table {
  position: relative;
  width: 100%;
  border-collapse: collapse;
}

.table thead {
  position: sticky;
  top: 0;
  z-index: 1;
}

@media (max-width: 48em) { 
  .table thead {
    display: none;
  }
}

.table th {
  padding: 1rem;
  background-color: var(--white);
  text-align: left;
}

.table th:first-child {
  border-radius: 1rem 0 0 0;
}

.table th:last-child {
  border-radius: 0 1rem 0 0;
}

.table__row {
  border-top: 2px solid var(--light-3);
  vertical-align: top;
}

.table__row td {
  padding: 0.5rem 1rem;
  text-align: left;
  background-color: var(--light-1);
}
.table__row td:first-child {
  padding: 0.5rem 0 0.5rem 1rem;
}
.table__row td:last-child {
  text-align: right;
}
@media (max-width: 48em) { 
  .table__row {
    display: grid;
    grid-template-columns: calc(50px + 1rem) auto auto auto auto;
  }
  .table__row--product {
    grid-template-areas: 
      "image name name name actions"
      "image price price price actions"
      "description description description description description";
  }
  .table__row--category {
    grid-template-areas: 
      "image name name actions actions"
      "image name name actions actions"
      "description description description description description";
  }
  .table__row td {
    display: block;
  }
  .table__row td:first-child {
    grid-area: image;
    padding: 1rem 0 0 1rem;
  }
  .table__row td:nth-child(2) {
    grid-area: name;
    padding-top: 1rem;
    padding-bottom: 0;
  }
  .table__row td:nth-child(3) {
    grid-area: description;
    padding-bottom: 1rem;
  }
  .table__row td:nth-child(4) {
    grid-area: price;
    padding-bottom: 0;
  }
  .table__row td:last-child {
    grid-area: actions;
    padding-top: 1rem;
    padding-bottom: 0;
    padding-left: 0;
  }
}

.table tbody tr:nth-of-type(odd) td {
  background-color: var(--light-2);
}

.table__description {
  width: 20rem;
}
@media (min-width: 64em) {
  .table__description {
    width: auto;
    max-width: 30rem;
  }
}
@media (max-width: 48em) { 
  .table__description {
    width: 100%;
  }
}

.table__image--container {
  width: calc(50px + 1rem);
}

.table__image {
  border: 2px solid var(--light-3);
}

.table__footer--container {
  background-color: var(--white);
  border-radius: 0 0 1rem 1rem;
}

.table__footer--nav__button,
.table__footer--page__button {
  color: inherit;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: background-color 100ms ease-in-out, color 100ms ease-in-out;
}

.table__footer--nav__button:hover {
  color: var(--color-heading);
  background-color: var(--light-3);
}

.table__footer--nav__button svg {
  width: 1.25rem;
  stroke-width: 2;
}

.table__footer--page__button {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.table__footer--page__button:hover {
  color: var(--color-heading);
  background-color: var(--light-3);
}
