.table__container {
  max-height: 100%;
  overflow-y: auto;
  background-color: var(--bg-clr-1);
}

.table {
  position: relative;
  width: 100%;
  border-collapse: collapse;
  font-size: clamp(0.75rem, 1.75vw, 0.9rem)
}

.table thead {
  /* container-type: inline-size; */
  position: sticky;
  top: 0;
  z-index: 1;
}

.table th {
  padding: 1rem;
  background-color: var(--bg-clr-1);
  text-align: left;
}

@media (max-width: 48em) { 
  .table[data-responsive="true"] thead {
    display: none;
  }
  /* .table thead {
    font-size: 0.85em;
  } */
}

.table th:first-child {
  border-radius: 1rem 0 0 0;
}

.table th:last-child {
  border-radius: 0 1rem 0 0;
  text-align: right;
}

.table__row {
  border-top: 2px solid var(--bg-clr-1);
  vertical-align: top;
}

@media (max-width: 48em) {
  .table[data-responsive="true"] .table__row:first-child {
    border-top: 0;
  }
}

.table__row td {
  position: relative;
  padding: 0.5rem 1rem;
  text-align: left;
  background-color: var(--bg-clr-2);
  border-bottom: 4px solid var(--bg-clr-1);
}
.table__row td:first-child {
  padding: 0.5rem 0 0.5rem 1rem;
  border-radius: 0.5rem 0 0 0.5rem;
}
.table__row td:last-child {
  text-align: right;
  max-width: max-content;
  border-radius: 0 0.5rem 0.5rem 0;
}
.table__name {
  min-width: max-content;
}
.table__name .table__text--name {
  font-weight: 600;
}
.table__name .table__text--email {
  font-size: 0.75em;
}
.table__name .table__text--id {
  position: relative;
  font-size: 0.5em;
  font-weight: 600;
  color: var(--status-color);
}
.table__name .table__text--id::before {
  content: "";
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  left: -0.5rem;
  width: 0.35rem;
  height: 0.35rem;
  background-color: var(--status-color);
  border-radius: 50%;
}
.table__total {
  font-weight: 600;
}
.table__actions--button {
  position: relative;
  display: inline-block;
}
@media (max-width: 48em) { 
  .table[data-responsive="true"] .table__row {
    display: grid;
    grid-template-columns: calc(50px + 1rem) auto auto auto auto;
  }
  .table[data-responsive="true"] .table__row:not(:first-child) {
    border-top: 2px solid var(--bg-clr-4);
  }
  .table[data-responsive="true"] .table__row td {
    background-color: var(--bg-clr-1);
  }
  /* .table .table__row td {
    font-size: 0.75rem;
  } */
  .table[data-responsive="true"] .table__row td:last-child {
    max-width: none;
  }
  .table[data-responsive="true"] .table__row--stock {
    grid-template-areas: 
      "sku sku sku sku actions"
      "size size size size actions"
      "quantity quantity quantity quantity actions"
      "product_name product_name product_name product_name product_name";
  }

  .table[data-responsive="true"] .table__row--product {
    grid-template-areas: 
      "image name name name actions"
      "image price price price actions"
      "description description description description description";
  }
  .table[data-responsive="true"] .table__row--category {
    grid-template-areas: 
      "image name name actions actions"
      "image name name actions actions"
      "description description description description description";
  }
  .table[data-responsive="true"] .table__row--order {
    grid-template-areas: 
      "sku sku sku fulfilled actions"
      "total total total total actions"
      "customer-email customer-email customer-email customer-email customer-email"
      "address address address address address";
  }
  .table[data-responsive="true"] .table__row td {
    display: block;
  }
  .table[data-responsive="true"] .table__image--container {
    grid-area: image;
    padding: 1rem 0 0 1rem;
  }
  .table[data-responsive="true"] .table__name {
    grid-area: name;
    padding-top: 1rem;
    padding-bottom: 0;
  }
  /* .table .table__name .table__text--name {
    font-size: 0.975em;
    font-weight: 600;
  } */
  /* .table .table__name .table__text--id {
    font-size: 0.5em;
  } */
  .table[data-responsive="true"] .table__description {
    grid-area: description;
    padding-bottom: 1rem;
  }
  .table[data-responsive="true"] .table__price {
    grid-area: price;
    padding-bottom: 0;
  }
  .table[data-responsive="true"] .table__actions {
    grid-area: actions;
    padding-top: 1rem;
    padding-bottom: 0;
    padding-left: 0;
  }
}

/* Stock */
@media (max-width: 48em) {
  .table[data-responsive="true"] .table__id::before,
  .table[data-responsive="true"] .table__size::before,
  .table[data-responsive="true"] .table__quantity::before,
  .table[data-responsive="true"] .table__product_name::before {
    font-weight: 600;
  }

  .table[data-responsive="true"] .table__id {
    grid-area: sku;
  }
  /* .table .table__id {
    font-size: 0.5rem;
  } */
  .table[data-responsive="true"] .table__id::before {
    content: "SKU: ";
  }

  .table[data-responsive="true"] .table__size {
    grid-area: size;
  }
  .table[data-responsive="true"] .table__size::before {
    content: "Size: ";
  }

  .table[data-responsive="true"] .table__quantity {
    grid-area: quantity;
  }
  .table[data-responsive="true"] .table__quantity::before {
    content: "Quantity: ";
  }

  .table[data-responsive="true"] .table__product_name {
    grid-area: product_name;
  }
  .table[data-responsive="true"] .table__product_name::before {
    content: "Product Name: ";
  }
}

/* Order */
@media (max-width: 48em) {
  .table[data-responsive="true"] .table__customer_email::before,
  .table[data-responsive="true"] .table__total::before,
  .table[data-responsive="true"] .table__address::before,
  .table[data-responsive="true"] .table__fulfilled::before {
    font-weight: 600;
  }

  .table[data-responsive="true"] .table__customer_email {
    grid-area: customer-email;
  }
  .table[data-responsive="true"] .table__customer_email::before {
    content: "Customer Email: ";
  }

  .table[data-responsive="true"] .table__total {
    grid-area: total;
  }
  .table[data-responsive="true"] .table__total::before {
    content: "Total: ";
  }

  .table[data-responsive="true"] .table__address {
    grid-area: address;
  }
  .table[data-responsive="true"] .table__address::before {
    content: "Address: ";
  }

  .table[data-responsive="true"] .table__fulfilled {
    grid-area: fulfilled;
  }
}

.table__description {
  width: 20rem;
}
@media (min-width: 64em) {
  .table[data-responsive="true"] .table__description {
    width: auto;
    max-width: 30rem;
  }
}
@media (max-width: 48em) { 
  .table[data-responsive="true"] .table__description {
    width: 100%;
  }
}

.table__image--container {
  width: calc(50px + 1rem);
}

.table__image--container a {
  position: relative;
  display: inline-flex;
}
.table__image--container a::before {
  content: "View item";
  position: absolute;
  inset: 0;
  text-align: center;
  display: grid;
  place-items: center;
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--bg-clr-4);
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(0.15rem);
  padding: 0.15rem;
  border-radius: 0.5rem;
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}
.table__image--container a:hover::before {
  opacity: 1;
}

.table__image {
  border: 2px solid var(--bg-clr-4);
}

.table__footer--container {
  background-color: var(--bg-clr-1);
  border-radius: 0 0 1rem 1rem;
}

.table__footer--nav__button,
.table__footer--page__button {
  color: inherit;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: background-color 100ms ease-in-out, color 100ms ease-in-out;
}

.table__footer--nav__button:hover {
  color: var(--heading-clr-4);
  background-color: var(--bg-clr-4);
}

.table__footer--nav__button svg {
  width: 1.25rem;
  stroke-width: 2;
}

.table__footer--page__button {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.table__footer--page__button:hover {
  color: var(--heading-clr-4);
  background-color: var(--bg-clr-4);
}

.table .fulfilled,
.table .unfulfilled {
  font-size: 0.85rem;
  font-weight: 600;
  padding: 0.5rem 0.75rem;
}

.table .fulfilled i,
.table .unfulfilled i {
  width: 1.15rem;
  color: var(--bg-clr-4);
  border-radius: 50%;
}

.table .fulfilled svg,
.table .unfulfilled svg {
  stroke-width: 2;
}

.table .fulfilled {
  background-color: var(--light-green);
  color: var(--green);
}
.table .fulfilled i {
  background-color: var(--green);
}

.table .unfulfilled {
  background-color: var(--light-orange);
  color: var(--orange);
}
.table .unfulfilled i {
  background-color: var(--orange);
}
