a {
  text-decoration: none;
  color: inherit;
}

.link {
  text-decoration: underline;
}
.link:hover {
  color: var(--primary);
  text-decoration: underline;

}

.link__primary {
  color: var(--primary);  
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  color: var(--heading-clr-4);
  font-family: var(--font-heading);
  font-weight: 600;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 75rem;
  margin: 0 auto;
}

.section__table--container {
  padding-top: 5.5rem;
}

.full-height {
  height: 100%;
}