.radius-sm {
  border-radius: var(--radius-sm);
}

.radius-md {
  border-radius: var(--radius-md);
}

.radius-lg {
  border-radius: var(--radius-lg);
}

.radius-xl {
  border-radius: var(--radius-xl);
}

.radius-xxl {
  border-radius: var(--radius-xxl);
}

.radius-pill {
  border-radius: var(--radius-pill);
}

.radius-circle {
  border-radius: var(--radius-circle);
}